*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{ 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E90FF;
}
.container{
    height: 500px;
    width: 400px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}
.container h1{
    text-align: center;
    margin-top: 15px;
}
form{
    height: auto;
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
}
input{
    height: 40px;
    width: 340px;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 550;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    height: 45px;
    width: 340px;
    margin-top: 15px;
    background: #0000FF;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 550;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
}
.forgotPassword{
    margin: 10px;
}
.forgotPassword a{
    color: #005bea;
}
.forgotPassword a:hover{
    color: #00c6fb;
    text-decoration: underline;
}
.otherOptions{
    margin-top: 20px;
    
}
.icons{
    margin-top: 30px;
}
.icons a{
    margin: 15px;
    padding: 10px 20px;
    background-color: #00c6fb;
}
.icons a i{
    margin: 5px;
    color: white;
    font-size: 20px;
}
span{
    font-size: 20px;
    color: white;
}
.icons a.facebook{
    background-color: #3b5998;
}
.icons a.github{
    background-color: #24292e;
}
.signup{
    margin-top: 40px;
}
.signup a{
    color: #005bea;
}
.signip a:hover{
    color: #00c6fb;
    text-decoration: underline;
}

